.worlds
  each item, index in words
    .worlds__world(id=`world--${item.data.word.replace(/\s+/g, '_').toLowerCase()}` style=`background-color: ${item.data.background_color}; color: ${item.data.text_color};`)
      .world__blurb !{ PrismicDOM.RichText.asHtml(item.data.blurb) }
      a.world__close__control Close

      .world__features
        each feature in item.data.features
          .features__feature
             img.feature__image(data-src=feature.main_image.url)
             if feature.detail_image_1
              .feature__details
                img.feature__details__image(data-src=feature.detail_image_1.url)
                if feature.detail_image_2.hasOwnProperty('url')
                  img.feature__details__image(data-src=feature.detail_image_2.url)

