extends ../layout.pug

block variables 
  - var template = 'home'

block content

  .home
    .home__wrapper
      include ../partials/header
      .home__content

        section.intro
          .intro__container
            .intro__image_container
              img.intro__image(data-src=`${page.data.intro_image.url}`)
            p.intro__copy 
              =page.data.intro
            .intro__proposition
              =page.data.proposition

        section.mission
          .mission__container
            .mission__stream_container
              include ../partials/livecam

                //- use image as placeholder, may need to add information overlay div
                //- =page.data.webcam_url
            .mission__benefit
              .benefit__copy !{ PrismicDOM.RichText.asHtml(page.data.benefit) }
              .benefit__amount
                |£!{page.data.donated}

        section.about
          .grid.grid--2cols
            .copy__column1 !{ PrismicDOM.RichText.asHtml(page.data.column_1) }
            .copy__column1 !{ PrismicDOM.RichText.asHtml(page.data.column_2) }

        section.motivation
            .motivation_copy !{ PrismicDOM.RichText.asHtml(page.data.motivation_content) }

        footer.footer.grid.grid--2cols
          .footer__copy
            .footer__cta !{ PrismicDOM.RichText.asHtml(page.data.cta) }
            ul.footer__socials 
              each social in page.data.socials
                li
                  a.social__link(href=`${social.social_url.url}` target='_blank')
                    =social.social_text

          .footer__image_container
            img.footer__image(data-src=`${page.data.contact_image.url}`)