extends ../layout.pug

block variables 
  - var template = 'world'


block content
  .world(id=`world--${page.data.word.replace(/\s+/g, '_').toLowerCase()}` style=`background-color: ${page.data.background_color};`)
    .world__wrapper
      a.world__back__button(href='/' style=`color: ${page.data.text_color}; border-color: ${page.data.text_color};`)
        include ../partials/left-arrow


      .world__content(style=`background-color: ${page.data.background_color}; color: ${page.data.text_color};`)
        
        .world__intro
          .world__intro__text
            .world__header__wrapper
              .world__header 
                .world__word(style=`border-color: ${page.data.text_color};`)= page.data.word
                h2.world__title= page.data.title
        
            .world__blurb !{ PrismicDOM.RichText.asHtml(page.data.blurb) }

          if page.data.thumbnail.full.url
            .word_image_wrapper
              img.world__image(data-src=page.data.thumbnail.full.url style=`mix-blend-mode: ${page.data.images_blend_mode};`)

          
        .world__features
          each feature in page.data.features
            .features__feature
              .feature__text
                .feature__title= feature.feature_title
                .feature__blurb !{ PrismicDOM.RichText.asHtml(feature.feature_blurb) }
              if feature.main_image.url
                .feature_image_wrapper
                  img.feature__image(data-src=feature.main_image.url style=`mix-blend-mode: ${feature.image_blend_mode};`)

              if feature.detail_image_1.url
                .feature_details_wrapper
                  img.feature_details__image(data-src=feature.detail_image_1.url style=`mix-blend-mode: ${feature.image_blend_mode};`)
                if feature.detail_image_2.url
                  .feature_details_wrapper
                    img.feature_details__image(data-src=feature.detail_image_2.url style=`mix-blend-mode: ${feature.image_blend_mode};`)