extends ../layout.pug

block variables 
  - var template = 'world'


block content
  .world(id=`world--${page.data.word.replace(/\s+/g, '_').toLowerCase()}` style=`background-color: ${page.data.background_color};`)
    .world__wrapper
      a.world__back__button(href='/' style=`color: ${page.data.text_color}; border-color: ${page.data.text_color};`) Home
      .world__content(style=`background-color: ${page.data.background_color}; color: ${page.data.text_color};`)
        if page.data.title
          .world__header 
            h2.world__title= page.data.title
            .world__blurb !{ PrismicDOM.RichText.asHtml(page.data.blurb) }

        

        .world__features
          each feature in page.data.features
            .features__feature
              .feature__blurb !{ PrismicDOM.RichText.asHtml(feature.feature_blurb) }
              if feature.main_image.url
                img.feature__image(data-src=feature.main_image.url style=`mix-blend-mode: ${feature.image_blend_mode};`)
              if feature.detail_image_1.url
                .feature_details
                  img.feature_details__image(data-src=feature.detail_image_1.url style=`mix-blend-mode: ${feature.image_blend_mode};`)
                  if feature.detail_image_2.url
                    img.feature_details__image(data-src=feature.detail_image_2.url style=`mix-blend-mode: ${feature.image_blend_mode};`)